<h3>Index</h3>

<div class="input-group">
    <input class="form-control"  placeholder="Buscar..." />
    <button type="button" class="btn btn-outline-primary bi bi-search" ></button>
</div>

<td class="text-center">
    <a href="/Estudiante/Edit/" class="btn btn-outline-primary bi bi-pencil-square"></a>
</td>

@code {

}
